<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Viator</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./style/app.css" />
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@1.1.3/angular-material.css" />
    <link rel="stylesheet" href="./jspm_packages/npm/angular-busy@4.1.4/dist/angular-busy.min.css" />
    <link href="./jspm_packages/npm/angular-material-data-table@0.10.10/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />

</head>

<body ng-cloak layout="column">
    <!-- Toolbar -->
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-icon style="color:white">flight</md-icon>
        <h1 flex class="page-title">Viator App</h1>
    </md-toolbar>

    <md-content ng-controller="AdminController">
        <div layout="row" layout-align="center center">
            <div flex=80 layout-padding>
                <h2>Manage Solr Database</h2>
                <md-card cg-busy="{promise:loadingPromise,templateUrl:'loading.html'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Crawl</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-padding layout-align="space-between scretch">
                        <div layout="row" layout-align="space-between start">
                            <form name="pageIdForm" ng-submit="showGetTokenDialog($event, pageId)">
                                <span class="md-caption">Crawl New Facebook Page</span>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Page Id</label>
                                        <input name="pageId" ng-model="pageId" placeholder="Enter page id" required>
                                        <div ng-messages="pageIdForm.pageId.$error">
                                            <div ng-message="required">Please enter the page id.</div>
                                        </div>
                                    </md-input-container>
                                    <div>
                                        <md-button class="md-accent md-raised" type="submit">Crawl!</md-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <span class="md-caption">Crawl Initial Data</span>
                            <div layout="column" layout-align="scretch">
                                <md-button class="md-accent md-raised" ng-click="showGetTokenDialog($event)">Crawl All Data</md-button>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Reindexing</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-padding layout-align="space-between scretch">
                        <div>
                            <span class="md-caption">Reindex All Data</span>
                            <div layout="column" layout-align="scretch">
                                <md-button class="md-accent md-raised" ng-click="reindexAllPages()">Reindex All Data</md-button>
                            </div>
                        </div>
                        <div>
                            <span class="md-caption">Delete All Index</span>
                            <div layout="column" layout-align="scretch">
                                <md-button class="md-warn md-raised" ng-click="deleteAllIndexes()">Delete All Index</md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card cg-busy="{promise:loadingPromise,templateUrl:'loading.html'}">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Existing Data in the Server</span>
                        </div>
                    </md-toolbar>

                    <md-table-container>
                        <table md-table md-progress="dbPromise">
                            <thead md-head md-order="query.order">
                                <tr md-row>
                                    <th md-column><span>Page Id</span></th>
                                    <th md-column><span>Message</span></th>
                                    <th md-column><span>Updated Time</span></th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <md-progress-linear md-mode="determinate" value="{{pageIdsProgress}}" ng-if="pageIdsProgress < 100" style="height: 2px"></md-progress-linear>
                                    </th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="data" ng-repeat="(key, value) in pageIds | limitTo: dataQuery.limit : (dataQuery.page -1) * dataQuery.limit">
                                    <td md-cell>{{ value.page_id }}</td>
                                    <td md-cell>{{ value.message }}</td>
                                    <td md-cell>{{ value.updated_time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit='query.limit' md-limit-options="[5, 10, 15]" md-page="dataQuery.page" md-total="{{pageIdsCount}}" md-page-select="true"></md-table-pagination>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Existing Index in Solr Database</span>
                        </div>
                    </md-toolbar>

                    <md-table-container>
                        <table md-table md-progress="solrPromise">
                            <thead md-head md-order="query.order" md-on-reorder="displayPageIndexes">
                                <tr md-row>
                                    <th md-column class="page-index-column"><span>Page Index</span></th>
                                    <th md-column md-numeric><span>Post Counts</span></th>
                                    <th md-column><span>Updated Time</span></th>
                                    <th md-column><span>Actions</span></th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th colspan="9">
                                        <md-progress-linear md-mode="determinate" value="{{pageIndexesProgress}}" ng-if="pageIdsProgress < 100" style="height: 2px"></md-progress-linear>
                                    </th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="data" ng-repeat="(key, value) in pageIndexes">
                                    <td md-cell>{{ key }}</td>
                                    <td md-cell>{{ value }}</td>
                                    <td md-cell>{{ pageIndex.updated_time }}</td>
                                    <td md-cell>
                                        <md-button class="md-accent md-raised" ng-click="reindexPage(key)">Re-index!</md-button>
                                        <md-button class="md-warn md-raised" ng-click="deleteIndex(key)">Delete Index</md-button>
                                        <md-button class="md-accent md-raised" ng-click="showGetTokenDialog($event,key)">Re-crawl Page</md-button>
                                        <md-button class="md-warn md-raised" ng-click="deleteData(value.key)">Delete Page</md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit='query.limit' md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{pageIndexCounts}}" md-page-select="true" md-on-paginate="displayPageIndexes"></md-table-pagination>
                </md-card>
            </div>
        </div>
    </md-content>

    <script src="jspm_packages/system.js " type="text/javascript "></script>
    <script src="./config.js " type="text/javascript "></script>
    <script type="text/javascript ">
        System
            .import('src/boot/boot.js')
            .catch(console.error.bind(console)); // make sure any errors print to console
    </script>

</body>

</html>