<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Viator</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/app.css" />
</head>

<body ng-cloak layout="column">
    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-icon style="color:white">flight</md-icon>
        <h1 flex class="page-title">Viator App</h1>
    </md-toolbar>

    <!-- Container #2 -->
    <md-content>
        <div layout="row" layout-align="center center">
            <div flex="80" layout-padding>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Where do you want to go?</span>
                            <span class="md-subhead">Place to eat in Bali, find hotel in Kuala Lumpur</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="column">
                            <form name="searchForm" ng-controller="SearchController">
                                <md-input-container class="md-block  md-accent" md-no-float>
                                    <input aria-label="textQuery" name="textQuery" ng-model="textQuery" placeholder="Enter search query" required>
                                    <div ng-messages="searchForm.textQuery.$error">
                                        <div ng-message="required">Please enter your search query.</div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="start center">
                                    <div flex="50">
                                        <md-input-container>
                                            <label>Order By</label>
                                            <md-select class="md-accent" ng-model="orderOptions">
                                                <md-option ng-repeat="order in searchOrders" ng-value="order">
                                                    {{order.value}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div flex="50">
                                        <md-input-container>
                                            <label>Filter By</label>
                                            <md-select class="md-accent" ng-model="selectedFilterCategory">
                                                <md-option ng-repeat="filterOption in searchFilters" ng-value="filterOption">
                                                    {{filterOption.category}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>{{selectedFilterCategory.category}}</label>
                                            <md-select class="md-accent" aria-label="Selected Filter" ng-model="selectedFilter">
                                                <md-option ng-repeat="filter in selectedFilterCategory.values" ng-value="filter">
                                                    {{filter}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row" layout-align="end" flex>
                                    <md-button class="md-accent md-raised">Search</md-button>
                                </div>
                            </form>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>

    <script src="./jspm_packages/system.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script type="text/javascript">
        System
            .import('./src/boot/boot.js')
            .catch(console.error.bind(console)); // make sure any errors print to console
    </script>

</body>

</html>