.page-title {
    color: white;
}

.card-layout {
    width: 100%;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: lightgreen;
}

md-input-container .md-errors-spacer {
    display: none;
}

md-input-container {
    margin-bottom: 0;
}

.scretch-btn {
    width: 80%;
}

.token-dialog {
    width: 50%;
}

#loading-container {
    display: table;
    position:absolute;
    width: 100%;
    height: 100%;
}

#loading {
    display: table-cell;
    vertical-align: middle;
}

#loading-message {
    text-align: center;
    width:150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    padding-left:10px;
    margin-top:10px;
}

#progress-circular {
    /*position: absolute;*/
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.results-link {
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 12px !important;
}

a.md-headline:link,
a.md-headline:visited,
a.md-headline:hover,
a.md-headline:active {
    color: #2200CC;
    text-decoration: none;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

a.md-headline:hover,
a.md-headline:active {
    text-decoration: underline;
}

em {
    font-weight: bold;
    font-style: normal;
}

.page-index-column {
    min-width:180px;
}

.more-like-this {
    overflow: hidden;
    background-color:#e8e8e8;
}

.more-like-this-footer {
    background: rgba(0,0,0,0.5);
    padding: 0 10px;
}

.more-like-this-footer a:link {
    text-decoration: none;
    color: #fafafa;
}

.card-media {
    overflow: hidden;
}

.more-like-this
.more-message {
    z-index: 5;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    font-size: 10px;
    position: absolute;
    text-align: left;
    padding: 10px;
    padding-right: 30px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    color: #fafafa;
    opacity: 0;
    transition: 0.2s all ease-in-out;
}

.more-message p {
    padding-right: 20%;
}

.more-like-this:hover .more-message {
    opacity: 1;
}

.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }

.remove-margin {
    margin:0;
}

img {
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;
}

div.md-media-lg.card-media {
    margin: 10px 20px;
    padding: 5px;
}

.topic {
    margin:0;
    margin-bottom: 10px;
}